@charset "utf-8";
/* CSS Document */

/* Form */
.limiter-loginEow {
	width: 100%;
	margin: 0 auto;
}

.container-loginEow{
	width: 100%;  
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #fafafa;
}

.wrap-loginEow {
	width: 1170px;
	background: #fafafa;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: row-reverse;
}

.form-loginEow {
	width: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding: 300px 65px 40px 65px;
}

.loginEow-left {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.loginEOW-left::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}





/* Text */

@font-face {
 	font-family: Roboto-medium;
 	src: url("../font/Roboto-Medium.ttf")
}

@font-face {
  	font-family: Roboto-light;
  	src: url("../font/Roboto-Light.ttf")
}

@font-face {
  	font-family: Roboto-regular;
  	src: url("../font/Roboto-Regular.ttf")
}

.formTitle{
	font-family: Roboto-medium;
	color: #78909c;
  	line-height: 1.2;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	text-align: center;
	width: 100%;
  	display: block;
}

.text1 {
	font-family: Roboto-regular;
 	font-size: 13px;
  	line-height: 1.4;
  	color: #bdbdbd;
}

.text2 {
  font-family: Roboto-regular;
  font-size: 13px;
  line-height: 1.4;
  color: #78909c;
}

.text3 {
  font-family: Roboto-regular;
  font-size: 15px;
  line-height: 1.4;
  color: #78909c;
  text-transform: uppercase;
}






/* form input */
.wrap-loginInput {
	width: 100%;
  	position: relative;
  	border: 1px solid #e6e6e6;
}

.rs1-wrap-loginInput,
.rs2-wrap-loginInput {
	width: 50%;
}

.rs2-wrap-loginInput {
  	border-left: none;
}


.loginInput {
  	display: block;
  	width: 100%;
  	background: transparent;
  	font-size: 18px;
  	color: #78909c;
  	line-height: 1.2;
  	padding: 0 25px;
}

.cellBorder-loginInput {
  	position: absolute;
  	display: block;
  	width: calc(100% + 2px);
  	height: calc(100% + 2px);
  	top: -1px;
  	left: -1px;
  	pointer-events: none;
  	border: 1px solid #78909c;
	
  	visibility: hidden;
  	opacity: 0;

  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	
.loginInput100:cellBorder + .cellBorder-loginInput {
  	visibility: visible;
  	opacity: 2;

  	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-ms-transform: scale(1);
  	-o-transform: scale(1);
  	transform: scale(1);
}
	
	
	
.container-loginEow-form-btn {
  	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

	
/* Image Slideshow */

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}